@import url("https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500");
:root {
	--primary: #204051;
	--secondary: #3b6978;
	--default: #f9f9ff;
	--success: #4cd3e3;
	--info: #38a4ff;
	--warning: #f4e700;
	--danger: #f44a40;
	--shadow: rgba(32, 64, 81, 0.3);
}

body {
	line-height: 24px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #777777;
	background: #fff;
}

html,
body {
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: #222222;
	font-weight: 500;
	line-height: 1.2 !important;
}


.list {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

button:focus {
	outline: none;
	box-shadow: none;
}

.overflow-hidden {
	overflow: hidden;
}

.sample-text-area {
	background: #fff;
	padding: 100px 0 70px 0;
}

.text-heading {
	margin-bottom: 30px;
	font-size: 24px;
}

b,
sup,
sub,
u,
del {
	color: var(--primary);
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5em;
}

.disabled {
	cursor: not-allowed !important;
	pointer-events: none !important;
}

.gray-bg {
	background: var(--default);
}

.gray_btn {
	line-height: 38px;
	background: #e8f0f2;
	border: 1px solid #eeeeee;
	border-radius: 3px;
	padding: 0px 40px;
	display: inline-block;
	color: #222222;
	text-transform: uppercase;
	font-weight: 500;
}

label {
	margin-bottom: 0;
}

.select2-container--default .select2-selection--single {
	border: 1px solid #eeeeee;
	height: 32px;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: 32px;
	color: #777777;
	padding-left: 15px;
}

@-webkit-keyframes click-wave {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.35;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	100% {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
		top: 50%;
		left: 50%;
		position: absolute;
	}
}
@-moz-keyframes click-wave {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.35;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	100% {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
		top: 50%;
		left: 50%;
		position: absolute;
	}
}
@keyframes click-wave {
	0% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 0.35;
		position: absolute;
		top: 50%;
		left: 50%;
	}
	100% {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
		top: 50%;
		left: 50%;
		position: absolute;
	}
}
.pixel-radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	position: relative;
	right: 0;
	bottom: 0;
	left: 0;
	height: 20px;
	width: 20px;
	-webkit-transition: all 0.15s ease-out 0s;
	-moz-transition: all 0.15s ease-out 0s;
	transition: all 0.15s ease-out 0s;
	background: #fff;
	border: 1px solid #eee;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
	outline: none;
	position: relative;
	z-index: 1;
}

.pixel-radio:checked {
	border: 7px solid var(--primary);
}

.pixel-radio:checked::after {
	-webkit-animation: click-wave 0.65s;
	-moz-animation: click-wave 0.65s;
	animation: click-wave 0.65s;
	background: var(--primary);
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	position: relative;
	z-index: 2;
	opacity: 0;
}

.pixel-radio {
	border-radius: 50%;
	top: 6px;
}

.pixel-radio::after {
	border-radius: 50%;
}

/* Section Gaps css
============================================================================================ */

.section_gap {
	padding: 100px 0;
}
@media (max-width: 991px) {
	.section_gap {
		padding: 80px 0;
	}
}

.section_gap_top_75 {
	padding: 75px 0;
}
@media (max-width: 991px) {
	.section_gap_top_75 {
		padding: 70px 0;
	}
}

.section_gap_75 {
	padding: 75px 0;
}
@media (max-width: 991px) {
	.section_gap_75 {
		padding: 70px 0;
	}
}

.section_gap_top {
	padding-top: 100px;
}
@media (max-width: 991px) {
	.section_gap_top {
		padding-top: 80px;
	}
}

.section_gap_bottom {
	padding-bottom: 100px;
}
@media (max-width: 991px) {
	.section_gap_bottom {
		padding-bottom: 80px;
	}
}


/* Section title css
============================================================================================ */
.section-title {
	margin-bottom: 50px;
}
.section-title h1 {
	font-size: 36px;
}
.section-title p {
	margin-bottom: 0;
}

/* Start Gradient Area css
============================================================================================ */
.primary-btn,
.add-bag .add-btn,
.single-product .product-details .prd-bottom .social-info span:after,
.grid-btn:hover,
.list-btn:hover,
.grid-btn.active,
.list-btn.active,
.pagination a.active,
.pagination a:hover,
.s_Product_carousel .slick-dots li.slick-active,
.s_product_text .card_area .icon_btn:after,
.product_description_area .nav.nav-tabs li a.active,
.blog-pagination .page-item.active .page-link,
.single-footer-widget .click-btn {
	background: -webkit-linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	background: -moz-linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	background: -o-linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
}

.gradient-bg-reverse,
#search_input_box {
	background: -webkit-linear-gradient(270deg, var(--primary) 0%, var(--secondary) 100%);
	background: -moz-linear-gradient(270deg, var(--primary) 0%, var(--secondary) 100%);
	background: -o-linear-gradient(270deg, var(--primary) 0%, var(--secondary) 100%);
	background: linear-gradient(270deg, var(--primary) 0%, var(--secondary) 100%);
}

.gradient-color,
.s_product_text h2,
.s_product_text .list li a.active,
.product_description_area .tab-content .total_rate .box_total h4,
.single-footer-widget .bb-btn {
	background: -webkit-linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	background: -moz-linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	background: -o-linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


/* Start primary btn css
============================================================================================ */
.primary-btn {
	position: relative;
	overflow: hidden;
	color: #fff;
	padding: 0 30px;
	line-height: 50px;
	border-radius: 50px;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.primary-btn:before {
	position: absolute;
	left: -145px;
	top: 0;
	height: 100%;
	width: 100%;
	content: "";
	background: #000;
	opacity: 0;
	-webkit-transform: skew(40deg);
	-moz-transform: skew(40deg);
	-ms-transform: skew(40deg);
	-o-transform: skew(40deg);
	transform: skew(40deg);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
.primary-btn:hover {
	color: #fff;
}
.primary-btn:hover:before {
	left: 180px;
	opacity: 0.3;
}


.genric-btn {
	text-transform: uppercase;
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 30px;
    font-size: .8em;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.genric-btn:focus {
    outline: none
}

.genric-btn.e-large {
    padding: 0 40px;
    line-height: 50px
}

.genric-btn.large {
    line-height: 45px
}

.genric-btn.medium {
    line-height: 30px
}

.genric-btn.small {
    line-height: 25px
}

.genric-btn.radius {
    border-radius: 3px
}

.genric-btn.circle {
    border-radius: 20px
}

.genric-btn.arrow {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.genric-btn.arrow span {
    margin-left: 10px
}

.genric-btn.default {
    color: #222;
    background: var(--default);
    border: 1px solid transparent
}

.genric-btn.default:hover {
    border: 1px solid var(--default);
    background: #fff
}

.genric-btn.default-border {
    border: 1px solid var(--default);
    background: #fff
}

.genric-btn.default-border:hover {
    color: #222;
    background: var(--default);
    border: 1px solid transparent
}

.genric-btn.primary {
    color: #fff;
    background: var(--primary);
    border: 1px solid transparent
}

.genric-btn.primary:hover {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: #fff
}

.genric-btn.primary-border {
    color: var(--primary);
    border: 1px solid var(--primary);
    background: #fff
}

.genric-btn.primary-border:hover {
    color: #fff;
    background: var(--primary);
    border: 1px solid transparent
}

.genric-btn.success {
    color: #fff;
    background: var(--success);
    border: 1px solid transparent
}

.genric-btn.success:hover {
    color: var(--success);
    border: 1px solid var(--success);
    background: #fff
}

.genric-btn.success-border {
    color: var(--success);
    border: 1px solid var(--success);
    background: #fff
}

.genric-btn.success-border:hover {
    color: #fff;
    background: var(--success);
    border: 1px solid transparent
}

.genric-btn.info {
    color: #fff;
    background: var(--info);
    border: 1px solid transparent
}

.genric-btn.info:hover {
    color: var(--info);
    border: 1px solid var(--info);
    background: #fff
}

.genric-btn.info-border {
    color: var(--info);
    border: 1px solid var(--info);
    background: #fff
}

.genric-btn.info-border:hover {
    color: #fff;
    background: var(--info);
    border: 1px solid transparent
}

.genric-btn.warning {
    color: #fff;
    background: var(--warning);
    border: 1px solid transparent
}

.genric-btn.warning:hover {
    color: var(--warning);
    border: 1px solid var(--warning);
    background: #fff
}

.genric-btn.warning-border {
    color: var(--warning);
    border: 1px solid var(--warning);
    background: #fff
}

.genric-btn.warning-border:hover {
    color: #fff;
    background: var(--warning);
    border: 1px solid transparent
}

.genric-btn.danger {
    color: #fff;
    background: var(--danger);
    border: 1px solid transparent
}

.genric-btn.danger:hover {
    color: var(--danger);
    border: 1px solid var(--danger);
    background: #fff
}

.genric-btn.danger-border {
    color: var(--danger);
    border: 1px solid var(--danger);
    background: #fff
}

.genric-btn.danger-border:hover {
    color: #fff;
    background: var(--danger);
    border: 1px solid transparent
}

.genric-btn.link {
    color: #222;
    background: var(--default);
    text-decoration: underline;
    border: 1px solid transparent
}

.genric-btn.link:hover {
    color: #222;
    border: 1px solid var(--default);
    background: #fff
}

.genric-btn.link-border {
    color: #222;
    border: 1px solid var(--default);
    background: #fff;
    text-decoration: underline
}

.genric-btn.link-border:hover {
    color: #222;
    background: var(--default);
    border: 1px solid transparent
}

.genric-btn.disable {
    color: #222, .3;
    background: var(--default);
    border: 1px solid transparent;
    cursor: not-allowed
}

.generic-blockquote {
    padding: 30px 50px 30px 30px;
    background: var(--default);
    border-left: 2px solid var(--primary)
}

.slick-arrow {
	cursor: pointer;
	z-index: 9;
}
